.wrapper {
    max-width: 800px;
    margin: auto;
}

::deep .form-card {
    background-color: #ffffff;
    padding: 2rem;
    border: 1px solid #c1c7ce;
    border-radius: 4px;
}

.section-header-title {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.section-header-indicator {
    width: 4px;
    height: 20px;
    background: var(--accent-fill-rest);
    border-radius: 999px;
}

::deep .dictionary-source-badge > span {
    padding: 4px;
}

::deep fluent-combobox {
    min-width: auto;
}

.generate-ipa-icon {
    display: inline-block;
    margin-right: 4px;
    color: var(--accent-fill-rest);
    font-size: 14px;
}

::deep .fluent-inputfile-container .inputfile-content {
    width: 100%;
    margin: 40px 0 20px;
    padding: 0 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::deep .fluent-inputfile-container .inputfile-progress {
    padding: 4px 0 8px;
    min-width: 100px;
    height: auto;
}
