::deep .example-label, ::deep label.fluent-input-label, ::deep .uploader-label {
    min-width: 200px;
}

::deep fluent-combobox {
    min-width: auto;
}

::deep .fluent-autocomplete-multiselect {
    display: flex;
}

::deep .fluent-inputfile-container .inputfile-content {
    width: 100%;
    margin: 24px 0 4px;
    padding: 0 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::deep .fluent-inputfile-container .inputfile-progress {
    padding: 4px 0 8px;
    min-width: 100px;
    height: auto;
}
